[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = yes
[access "refs/*"]
	owner = group user/rajusaid
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rajusaid
	label-Verified = -1..+1 group user/rajusaid
	push = group user/rajusaid
	read = group user/rajusaid
	rebase = group user/rajusaid
	removeReviewer = group user/rajusaid
	submit = group user/rajusaid
[access "refs/heads/*"]
	create = group user/rajusaid
	push = +force group user/rajusaid
	pushMerge = group user/rajusaid
	read = group user/rajusaid
[access "refs/tags/*"]
	push = group user/rajusaid
	push = +force group user/rajusaid
